<html>
<head><meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Engineer Babu</title>
    <link rel="stylesheet" href="bootstrap.css">
       <link rel="stylesheet" href="bootstrap.js">
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
      <link rel="stylesheet" href="engineerbabu.css">
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <img class="navbar-brand" src="logo.svg"></div>
              <div class="right"><ul>
                <li>How It Works</li>
                <li>Reviews</li>
                <li>Case Studies</li>
                <li>Blog</li>
                <li>News</li>
            <input id="login" type="button" class="btn btn-default navbar-btn"value="Login">
                <input id="post" type="button" value="Post a Project" class="btn btn-default navbar-btn"></ul></div>
            </div>
        </div>
        <div class="container-fluid">
        <img class="img-responsive center-block" src="ezgif.com-optimize.gif">
            <div id="text"><h3>Hire IT Companies & Freelancers</h3>
                <h3>EngineerBabu is a faster and smarter way of hiring the perfect outsourcing partner for all your IT needs.</h3>
            </div>
            <div id="imgbox">
            <input type="button" value="Chat with us" id="login">
            <input type="button" value="Post a Project" id="post">
           </div>
        </div>
         <div class="floater">
            <div class="boxs"><img src="E:\_Iconjar\icons//places home 3.3.svg">
            <h3>Registration AG</h3><h4>Your TeamViewer Team</h4><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
        <div class="boxs"><img src="E:\_Iconjar\icons//places home 3.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//android.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//baby hanging toy.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//calendar 1.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//bitcoin windows.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//phone incoming.1.2.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//places home 3.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//places home 3.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
            <div class="boxs"><img src="E:\_Iconjar\icons//places home 3.3.svg"><h3>Registration AG</h3><h3>Your TeamViewer Team</h3><p>hank you for registering your TeamViewer account. To finally activate your account please click the following link.</p></div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"><img class="img-responsive" src="oldWay.png"></div>
            <div  class="col-md-4"><img class="img-responsive" src="newWay.png">
            <h3 style="text-align:center">EngineerBabu is easier, faster,
                smarter way of hiring freelancers.</h3>
                <input type="button" value="Post Project" id="post" style="width:100%"></div>
            </div></div>
        <div class="background">
            <div class="text-center"><h1>Indian Developers are Not Good in India but When they reach USA they become Google & Microsoft CEO.</h1></div>
            <spam><input type="button" id="post" value="Why 1000000+ People appriciates our work" style="width:inherit; height:auto"></spam>
                <spam id="casestud"><h1>Case Studies</h1></spam></div>
        <div class="slider"></div>
        <div class="topcompanies"><spam>TOP COMPANIES HIRING ON ENGINEERBABU</spam>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="justride1.png" class="img-resonsive"></div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="woodbazarr.png" class="img-resonsive"></div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="your.png" class="img-resonsive"></div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="thrillophilia.png" class="img-resonsive"></div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="samsung.png" class="img-resonsive"></div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-md-4 col-lg-3"><img src="education.png" class="img-resonsive"></div></div></div></div>
        <div class="profile">
            <div class="boxs"><img class="img-responsive" src="freelancers111.png">
<spam>18,245<br>
    Freelancers</spam></div>
            <div  class="boxs"><img src="agencies111.png" class="img-responsive">
<spam>657<br>
    Agencies</spam></div>
            <div  class="boxs"><img src="countries111.png" class="img-responsive">
<spam>152<br>
    Countries</spam></div>
            <div  class="boxs"><img src="jobs111.png" class="img-responsive">
<spam>475<br>
    Jobs</spam></div>
        </div>
        <div class="reply"><spam class="text-nowrap pull-right"><h1>WHY PEOPLE LOVE US</h1></spam>
<li>My App is pet finder application; They did excellent research. I was thinking only I am having an idea. Once I got to know what my competitors are doing, we were able to create better.
    
    Travern, Wagging Pal LLC, Australia</li>
            <li>My App is pet finder application; They did excellent research. I was thinking only I am having an idea. Once I got to know what my competitors are doing, we were able to create better.
                
    Travern, Wagging Pal LLC, Australia</li>
            <li>I was already knowing Mayank, These people helped MaalGaadi in Scalable backend and Driver App. We are one of the biggest logistics company based in Indore India. Recently We received funding on that. Keep it up same services.
                
Anirudh, MaalGaadi, India</li>
            <li>Awesome team and Quick communication, They helped me to build my Android and iOS App “Also educated me how I can brand my mobile app, Now My app has 45,000 Users, and I love to recommend EngineerBabu Team.

Atul Asati, Education Finder App, USA</li>
            <li>As I am a football player, It was hard for me to understand technology. These guys helped me to speed up my app and nice UI. My app got appreciation. Good luck guys

Chol Magnus, Mate Inc., Australia</li>
            <li>My App now ranked number one in Tours and Travel in Varanasi, more than 50,000 foreigners visits here, They ranked my app 5*, I appreciate your effort, Babus!

Ayush Rathi, RoobrooApp, Varanasi</li>
            <spam><input type="button" value="Chat with us" id="login">
            <input type="button" value="Post a Project" id="post">
            </spam></div>
        <div class="innews"></div>
        <div class="footer">
            <spam><h1>JOIN ENGINEERBABU COMMUNITY AS A VENDOR</h1></spam>
                <spam><input type="button" id="post" value="Get Started"></spam>
            <spam><a>How it Works</a><a>Plans</a></spam>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">CONTACT
                    <a>hello@engineerbabu.com</a></div>
            <div class="col-xs-3">HR
                <a>hr@ebabu.co</a></div>
            <div class="col-xs-3">FOLLOW US
                <ul class="nav navbar-nav nav-stacked" style="float:left">
                <li><a href="techhtml.html"><img src="E:\_Iconjar\icons//places home 3.3.svg"></a></li>
                    <li><a href="Robotics.html"><img src="E:\_Iconjar\icons//android.3.svg"></a></li>
                    <li><a href="Coding.html"><img src="E:\_Iconjar\icons//baby hanging toy.3.svg"></a></li><li><a href="Adwar.html"><img src="E:\_Iconjar\icons//calendar 1.3.svg"></a></li>
                <li><a href="Movimaking.html"><img src="E:\_Iconjar\icons//places home 3.3.svg"></a></li>
                    </ul></div>
                <div class="col-xs-3"></div></div></div><br>
            <spam>  <h3>© 2017 by EngineerBabu  All rights reserved. | Privacy Policy</h3></spam>
        </div>        
<div class="rowbox">
    <div class="container-fluid">
<div class="row">
  <div class="col-xs-3"><img src="E:\web\\9.jpg"  class="img-responsive" style="width:100%"  onclick="openModal();currentSlide(1)"></div>
  <div class="col-xs-3"><img src="E:\web\\14.jpg" style="width:100%"   class="img-responsive" onclick="openModal();currentSlide(2)"></div>
  <div class="col-xs-3"><img src="E:\web\\11.jpg"   class="img-responsive"  style="width:100%" onclick="openModal();currentSlide(3)"></div>
    <div class="col-xs-3"><img src="E:\web\\12.jpg" style="width:100%"   class="img-responsive"  onclick="openModal();currentSlide(4)"></div></div>
    </div></div>
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="container-fluid">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="E:\web\\9.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="E:\web\\14.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="E:\web\\11.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="E:\web\\12.jpg" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="E:\web\\9.jpg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="E:\web\\14.jpg" style="width:100%" onclick="currentSlide(2)" alt="Trolltunga, Norway">
    </div>
    <div class="column">
      <img class="demo cursor" src="E:\web\\11.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="E:\web\\12.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>    
        <script>
        function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
        </script>
<div ng-app="myApp" ng-controller="myCtrl" ng-init="firstName=23">
<p>Input something in the input box:</p>
<p>Name: <input type="text" ng-model="firstName"></p>
<p id="hello" ng-bind="firstName"></p>
    <p>{{myUrl}}</p>
    <ul>
    <li ng-repeat="x in counts">{{x}}</ul>
</div>
  <script>      
$(document).ready(function(){
    $("#hello").on(
        click:(function(){
        $(this).text("Hello world!");
        $(this).html("<b>Hello world!</b>");
        alert("Dolly Duck");
    });
    $("input").fadeOut(2000);
)};</script>
<script>
    var counts=
var app=angular.module("myApp",[]);    app.controller("myCtrl",function($scope,$location,$timeout){
    $scope.counts=[23,24,abac];
    $scope.myUrl=$location.absUrl();
    $timeout(function(){
        $scope.myUrl="timeout function called";
    },2000);                                                  });
        </script>
</body>
</html>